body {
    background-color: rgb(255, 255, 255);
}
.exp {
    padding: 180px 0%;
}
.container {
    display: flex ;
    margin-right: 20px;
    margin-left: 20px;
    flex-direction: column;
}

.text {
    display: flex;
    flex-direction: column;

}
img {
    width: 200px;
    height: 200px;
    animation: 5s show ease;
}
.img {
    padding: 0px 0%;

}

@keyframes anim {
    0% {
              opacity: 0; 
              opacity: 0.2 ;
            }
            
            33% {
     opacity: 0; 
              opacity: 0.4 ;
            }
            
           
            
            99% {
        opacity: 0; 
              opacity: 0.,6 ;
            }
            
            100% {
               opacity: 0; 
              opacity: 0.1 ;
}
 main{
    margin-top:  200px; 
 }
 .content {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
 }
 .seriesname {
    display: flex;
    justify-content: center;
 }
 .photo{
    display: flex;
    justify-content: center;
    
    
 }
 .imgcenter{
    width: 500px;
 }
.text1 {
    font-size: 35px;
}
.left-column {
    float: left;
    width: 50%;
  }

  .right-column {
    float: right;
    width: 50%;
  }
  .textleft{
    font-size: 35px;
    padding: 10px;
  }
  .textright {
    font-size: 35px;
    padding: 10px;
  }
  .lefth2{
    padding: 10px;
    margin-top: 30px;
  }
  .rigth2{
    padding: 10px;
    margin-top: 30px;
  }
log{
    display: flex;
    justify-content: center;
}
