body {
    background-color: rgb(255, 255, 255);
}
.exp {
    padding: 180px 0%;
}
.container {
    display: flex ;
    margin-right: 20px;
    margin-left: 20px;
    flex-direction: column;
}

.text {
    display: flex;
    flex-direction: column;

}
img {
    width:  200px;
    height:  200px;
    border-top:  solid 10px purple;
    border-bottom:  solid 10px purple;
    border-right:  solid 10px purple;
    border-left:  solid 10px purple;
}
.img {
    animation: 5s show ease;
}
@keyframes show {
from {opacity: 0; }
    to {opacity: 1; }
}
.img {
    padding: 0px 0%;

}
 main{
    margin-top:  200px; 
 }
 .content {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
 }
 .seriesname {
    display: flex;
    justify-content: center;
 }
 .photo{
    display: flex;
    justify-content: center;
    
    
 }
 .imgcenter{
    width: 500px;
 }
.text1 {
    font-size: 35px;
}
.left-column {
    float: left;
    width: 50%;
  }

  .right-column {
    float: right;
    width: 50%;
  }
  .textleft{
    font-size: 35px;
    padding: 10px;
  }
  .textright {
    font-size: 35px;
    padding: 10px;
  }
  .lefth2{
    padding: 10px;
    margin-top: 30px;
  }
  .rigth2{
    padding: 10px;
    margin-top: 30px;
  }
log{
    display: flex;
    justify-content: center;
}
